.loaderContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1rem);
  z-index: 9999;
}

.loader {
  width: 90%;
}

@media screen and (min-width: 768px) {
  .loader {
    width: 50%;
  }
}
