.wrapper {
  cursor: pointer;
  position: fixed;
  height: 50px;
  z-index: 10;
  bottom: 40px;
  right: 40px;
  font-size: var(--font-size-huge);
  color: rgba(255, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  line-height: 50px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1000ms ease, visibility 1000ms ease;
}

.wrapper svg {
  color: rgba(255, 0, 0, 0.5);
}

.wrapper.show {
  opacity: 1;
  visibility: visible;
  transition: opacity 1000ms ease, visibility 1000ms ease;
}

/* ============================= Desktop  */
@media screen and (min-width: 768px) {
  .wrapper {
    bottom: 10rem;
    right: 10vw;
  }
}
