.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.label {
  display: flex;
  flex-direction: column;
}

.input,
.textArea {
  padding: 0.5rem 0.7rem;
  background-color: transparent;
  backdrop-filter: blur(15px);
  border: 1px solid white;
}

.textArea {
  height: 10rem;
}

.submit {
}

@media screen and (min-width: 768px) {
}
