.container {
  /* outline: 1px solid var(--yellow); */
  padding: 0 10px;
  margin: auto;
  max-width: 480px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 20px;
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    padding: 10px 20px;
    min-width: 1200px;
    max-width: 1400px;
  }
}
