.container {
  /* outline: 1px solid var(--yellow); */
  /* padding: 10px; */
  position: relative;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 10px 20px;
    max-width: 1400px;
  }
}
