.title {
  text-transform: uppercase;
  font-size: var(--font-size-xl);
  text-align: center;
  margin-top: 40px;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 14px;
  margin-top: 20px;
  padding: 20px;
}

.item {
  transform: scale(0.9);
}

.contactis,
.dbshenker,
.alfa,
.breeze,
.dominos,
.kyivstar,
.otp,
.vodafone,
.persha,
.promin,
.materialis,
.delta,
.cptl,
.artofmice,
.estafeta,
.ekta,
.mont {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.contactis {
  background-image: url("/img/clients/contactis.png");
  height: 34px;
  width: 130px;
}

.dbshenker {
  background-color: white;
  background-image: url("/img/clients/dbschenker.png");
  height: 40px;
  border-radius: 10px;
  width: 130px;
  padding: 4px;
}

.alfa {
  background-image: url("/img/clients/alfabank.png");
  height: 42px;
  width: 120px;
}

.breeze {
  background-image: url("/img/clients/breeze.svg");
  height: 36px;
  width: 100px;
}

.dominos {
  background-image: url("/img/clients/dominos.png");
  height: 38px;
  width: 120px;
}
.kyivstar {
  background-image: url("/img/clients/kyivstar.png");
  height: 40px;
  width: 120px;
}
.otp {
  background-image: url("/img/clients/otpbank.svg");
  height: 36px;
  width: 120px;
}
.vodafone {
  background-image: url("/img/clients/vodafone.png");
  height: 60px;
  width: 80px;
}
.persha {
  background-image: url("/img/clients/persha.png");
  height: 40px;
  width: 130px;
}
.promin {
  background-color: rgb(247, 246, 233);
  background-image: url("/img/clients/prominagro.png");
  height: 50px;
  width: 90px;
  border-radius: 10px;
}
.materialis {
  background-color: white;
  width: 90px;
  background-image: url("/img/clients/materialis.webp");
  height: 56px;
  border-radius: 10px;
  overflow: hidden;
}
.delta {
  background-image: url("/img/clients/deltam.svg");
  height: 44px;
  width: 110px;
}
.cptl {
  background-image: url("/img/clients/cptl.png");
  height: 40px;
  width: 110px;
}
.artofmice {
  background-image: url("/img/clients/artofmice.svg");
  height: 40px;
  width: 120px;
}
.estafeta {
  background-color: white;
  padding: 10px;
  background-image: url("/img/clients/estafeta.png");
  height: 50px;
  border-radius: 10px;
  width: 120px;
}
.ekta {
  background-image: url("/img/clients/ekta.webp");
  height: 40px;
  width: 80px;
}
.mont {
  background-image: url("/img/clients/mont.png");
  height: 70px;
  width: 60px;
  border-radius: 10px;
  overflow: hidden;
}

/* ============================= Desctop  */
@media screen and (min-width: 768px) {
  .title {
    font-size: var(--font-size-xxl);
    margin-top: 60px;
  }

  .list {
    gap: 40px;
    margin-top: 40px;
    padding: 0;
  }

  .item {
    transform: scale(1);
  }

  .contactis,
  .dbshenker,
  .alfa,
  .breeze,
  .dominos,
  .kyivstar,
  .otp,
  .vodafone,
  .persha,
  .promin,
  .materialis,
  .delta,
  .cptl,
  .artofmice,
  .estafeta,
  .ekta,
  .mont {
    filter: saturate(0);
  }

  .dbshenker {
    opacity: 0.5;
  }

  .promin {
    opacity: 0.5;
  }
  .materialis {
    opacity: 0.5;
  }

  .estafeta {
    opacity: 0.5;
  }

  .mont {
    opacity: 0.5;
  }

  .contactis:hover,
  .dbshenker:hover,
  .alfa:hover,
  .breeze:hover,
  .dominos:hover,
  .kyivstar:hover,
  .otp:hover,
  .vodafone:hover,
  .persha:hover,
  .promin:hover,
  .materialis:hover,
  .delta:hover,
  .cptl:hover,
  .artofmice:hover,
  .estafeta:hover,
  .ekta:hover,
  .mont:hover {
    filter: none;
    opacity: 1;
  }
}
