:root {
  --font-family-primary: "Oswald", sans-serif;
  --font-family-secondary: "Spectral SC", serif;

  /* Font sizes */
  --font-size-xxs: 0.75rem; /* 12px - var(--font-size-xxs); */
  --font-size-xs: 0.8125rem; /* 13px - var(--font-size-xs); */
  --font-size-sm: 0.875rem; /* 14px - var(--font-size-sm); */
  --font-size-md: 1rem; /* 16px -  var(--font-size-md); */
  --font-size-md-lg: 1.125rem; /* 18px - var(--font-size-md-lg); */
  --font-size-lg: 1.25rem; /* 20px - var(--font-size-lg); */
  --font-size-xl: 1.5rem; /* 24px  - var(--font-size-xl); */
  --font-size-xxl: 1.75rem; /* 28px - var(--font-size-xxl); */
  --font-size-3xl: 2rem; /* 32px - var(--font-size-3xl); */
  --font-size-4xl: 2.5rem; /* 40px - var(--font-size-4xl); */
  --font-size-huge: 3.125rem; /* 50px - var(--font-size-huge); */

  --container-width: 90vw;
  --section-padding: 5vh;
  --border-radius: 0.5rem;

  --background: #240000;
  --foreground: #e3e3e3;
  --red: #d92929;
  --bg-gradient: linear-gradient(
    to bottom,
    #000 0%,
    #750000 15%,
    #000 30%,
    #750000 45%,
    #000 60%,
    #750000 75%,
    #000 100%
  );

  --box-shadow: 0 0 10px 4px rgba(255, 255, 255, 0.7);
}

html {
  font-size: var(--font-size-md);
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  width: 100vw;
  overflow-x: hidden;
  background-color: #000;
}
a {
  cursor: pointer;
}
@media (max-width: 768px) {
  html {
    font-size: var(--font-size-md);
  }
}

body {
  margin: 0;
  color: var(--foreground);
  background: var(--bg-gradient);
  font-family: var(--font-family-primary);
  font-size: var(--font-size-md);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  overflow-x: hidden;
}

svg,
input {
  color: var(--foreground);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-secondary);
}

a {
  color: inherit;
  text-decoration: none;
}

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

* {
  transition: all 0.3s ease;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo,
    monospace; /* 1 */
  font-size: 1em; /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: currentcolor;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  box-shadow: none;
  border: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

summary {
  display: list-item;
}

ul {
  list-style: none;
}

img {
  display: block;
}
