.hero {
  top: 0;
  z-index: -1;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.5)
    ),
    url("../../public/img/hero.webp");
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 34vh;
  text-align: center;
}

.description {
  color: var(--red);
  width: 90vw;
  margin: auto;
  padding-top: 8vh;
  display: block;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: var(--font-family-primary);
  text-transform: uppercase;
}

.description2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: var(--foreground);
  font-size: 0.9rem;
  font-weight: 200;
  letter-spacing: 0.05rem;
  padding-top: 2vh;
  width: 80%;
  margin: auto;
  text-transform: initial;
}

.mafiaWhat {
  margin-top: 80px;
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.mafiaText {
  font-size: 20px;
  line-height: 1.8rem;
  text-align: justify;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 60px;
}

.about__counter {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding: 10px 0 20px 0;
}

.about__counter_list {
  display: flex;
  margin: auto;
  max-width: 300px;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.item {
  flex: 1 1 45%;
}

.counter_text {
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
}

.sum {
  font-family: var(--font-family-secondary);
  font-size: 24px;
  font-weight: 900;
  display: block;
}

.about_title {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 1.2em;
  text-transform: uppercase;
}

.about_text {
  text-align: justify;
  margin: 0 auto;
  padding: 0 20px;
  line-height: 1.2rem;
  letter-spacing: 0.02rem;
  font-size: 13px;
  font-weight: 300;
}

.gallery {
  margin: 1rem auto 3rem auto;
  height: 100px;
  overflow: hidden;
}

.gallery_list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;

  animation: scroll 20s linear infinite;
}

.gallery_item {
  flex: 0 0 36%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageThumbnail {
  display: block;
  width: 100%;
  height: 100px !important;
  object-fit: cover;
}

.video {
  width: 80vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin-top: 2rem;
}

/* ============================= Desktop  */
@media screen and (min-width: 768px) {
  .video {
    justify-content: space-around;
    flex-direction: row;
  }
  .video iframe {
    width: 560px;
    height: 315px;
  }

  .hero {
    height: 1000px;
  }

  .description {
    width: 90vw;
    margin: auto;
    padding-top: 24vh;
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
  }

  .description2 {
    font-size: 3rem;
    font-weight: 100;
    padding-top: 4vh;
    width: 54%;
    color: rgba(255, 255, 255, 0.5);
  }

  .enter {
    display: block;
    height: 20px;
  }

  .mafiaWhat {
    margin-top: 80px;
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
  }
  .mafiaText {
    font-size: 20px;
    line-height: 1.8rem;
    text-align: justify;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 60px;
  }

  .about {
    margin: 60px auto;
  }

  .about__counter {
    height: 220px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 20px 0;
  }

  .about__counter_list {
    display: flex;
    max-width: 1200px;
    align-items: center;
    justify-content: space-around;
  }

  .item {
    flex: 1 1;
  }

  .counter_text {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
  }

  .sum {
    font-family: var(--font-family-secondary);
    font-size: 100px;
    font-weight: 900;
    display: block;
  }

  .about_title {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 1.5em;
    text-transform: uppercase;
  }

  .about_text {
    text-align: justify;
    max-width: 1000px;
    margin: 0 auto;
    line-height: 2rem;
    letter-spacing: 0.06rem;
    font-size: 20px;
    font-weight: 300;
  }

  .gallery {
    margin: 40px auto 80px auto;
    height: 220px;
    overflow: hidden;
  }

  .gallery_list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;

    animation: scroll 20s linear infinite;
  }

  .gallery_item {
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .imageThumbnail {
    display: block;
    width: 100%;
    height: 220px !important;
    object-fit: cover;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @media (min-width: 768px) {
    .gallery_item {
      flex: 0 0 50%;
    }
  }

  @media (min-width: 1200px) {
    .gallery_item {
      flex: 0 0 20%;
    }
  }
}

@media (min-width: 1200px) {
  .gallery_item {
    flex: 0 0 20%;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
