.header {
  position: relative;
  width: 100%;
  height: 80px;
  z-index: 10;
}

.logo {
  position: absolute;
  top: 15px;
  left: 20px;
}
.nav {
  opacity: 0;
  overflow: hidden;
  transition: opacity 1000ms ease;
}

.navOpen {
  opacity: 1;
  transition: opacity 1000ms ease;
}

/* Анімація для menuButton */
.menuButton {
  display: block;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 20;
  background-color: transparent;
  font-size: 50px;
  border: none;
  transition: transform 0.3s ease;
}

/* Поворот іконки при відкритому меню */
.menuButtonOpen {
  transform: rotate(90deg); /* Наприклад, поворот на 90 градусів */
}

.basketBtn {
  display: block;
  position: absolute;
  right: 110px;
  top: 20px;
  z-index: 20;
  background-color: transparent;
  font-size: 40px;
  line-height: 50px;
}

.basketBtnNav {
  display: block;
  position: absolute;
  right: 50vw;
  bottom: 20vh;
  z-index: 20;
  background-color: transparent;
  font-size: 40px;
  line-height: 50px;
  transform: translateX(50%);
}

@media screen and (min-width: 768px) {
  .menuButton {
    display: none;
  }

  .header {
    position: relative;
    width: 100%;
    height: fit-content;
    z-index: 10;
  }

  .logo {
    position: absolute;
    top: 15px;
  }

  .menuButton {
    display: block;
    position: absolute;
    right: 20px;
    top: 10px;
    z-index: 20;
    background-color: transparent;
    font-size: 50px;
    border: none;
  }
}
