.bgImg {
  background-image: url("/img/extra_mob.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 15rem;
  /* opacity: 0.8; */
  margin-top: 5rem;
}

.pageTitle {
  position: static;
  transform: translateY(-560%);
  text-align: center;
  font-size: var(--font-size-sm);
  line-height: 2rem;
  color: var(--foreground);
  margin: auto;
  width: 100vw;
  text-shadow: 0px 0px 3rem rgba(0, 0, 0, 0.6);
}

.description {
  position: absolute;
  width: 90%;
  top: -20vh;
  left: 50%;
  transform: translateX(-50%);
  font-size: var(--font-size-md);
  text-align: center;
  font-weight: 200;
}

.details {
  margin: 3rem auto 5rem;
  width: 90vw;
}

.extra_services {
  margin-top: 4rem;
}

.service_list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-bottom: 10vh;
}

.service_item {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.5rem;
  scroll-margin-top: 8rem;
}

.image_wrapper img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  object-fit: cover;
}

.text_wrapper {
  text-align: left;
  padding: 0 1rem;
}

.service_title {
  font-size: var(--font-size-lg);
  margin-bottom: 1rem;
}

.service_description {
  font-size: var(--font-size-md);
  line-height: 1.6;
}

.service_cost {
  font-weight: 600;
  margin-top: 1rem;
  font-size: var(--font-size-md);
  color: var(--red);
}

.linkToShop {
  cursor: pointer;
  width: fit-content;
  margin: auto;
  border: 1px solid var(--foreground);
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-size: var(--font-size-md);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

.linkToShop span {
  line-height: var(--font-size-lg);
  font-size: var(--font-size-lg);
}

@media screen and (min-width: 768px) {
  .bgImg {
    width: 100%;
    height: 50rem;
    background-image: url("/img/services/extra_l.webp");
    background-attachment: fixed;
  }

  .pageTitle {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 60vw;
    top: 18rem;
    font-size: var(--font-size-3xl);
    line-height: 4rem;
    text-shadow: 0px 0px 3rem rgba(0, 0, 0);
  }

  .description {
    top: -14rem;
    font-size: var(--font-size-3xl);
  }

  .service_item {
    flex-direction: row;
    align-items: center;
  }

  .reverse {
    flex-direction: row-reverse;
  }

  .image_wrapper {
    flex: 1;
    max-width: 50%;
    padding: 0 2rem;
  }

  .text_wrapper {
    flex: 1;
    padding: 0 2rem;
  }

  .service_title {
    font-size: var(--font-size-3xl);
  }

  .service_description,
  .service_cost {
    font-size: var(--font-size-lg);
  }

  .linkToShop {
    margin-left: 0;
  }

  .linkToShop:hover {
    border-color: var(--red);
    background-color: var(--red);
  }
}
