.bgImg {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)),
    url("/img/vip_mob.webp");
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 15rem;
  margin-top: 5rem;
}

.description {
  padding: 1rem;
  font-size: var(--font-size-md);
  text-align: justify;
}

.pageTitle {
  position: absolute;
  top: 16rem;
  left: 0;
  text-align: center;
  font-size: var(--font-size-md);
  line-height: 2rem;
  color: var(--foreground);
  margin: auto;
  width: 100vw;
  text-shadow: 0px 0px 3rem rgba(0, 0, 0, 0.6);
}

.details {
  margin: 3rem auto;
  width: 90vw;
}

.details_title {
  text-align: center;
  margin: 2rem auto;
  text-transform: uppercase;
}

.text1,
.text2,
.text3,
.text4,
.text5,
.text6 {
  margin: 0.5rem;
}

.details_players {
  margin: 1rem 0.5rem;
}

.details_taxi {
  margin: 0.5rem;
  color: var(--red);
}

.details_cost {
  font-weight: 800;
  margin: 0.5rem;
}

.notification {
  margin: 0.5rem;
}

@media screen and (min-width: 768px) {
  .bgImg {
    width: 100%;
    height: 50rem;
    background-image: url("/img/services/vip_l.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.6;
    background-attachment: fixed;
  }

  .pageTitle {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 60vw;
    left: 50vw;
    transform: translateX(-50%);
    top: 44rem;
    text-align: center;
    font-size: var(--font-size-3xl);
    line-height: 6vmin;
    text-shadow: 0px 0px 3rem rgba(0, 0, 0);
  }
  .description {
    padding: 3rem;
    font-size: var(--font-size-3xl);
    font-weight: 100;
    opacity: 0.8;
  }

  .details {
    width: 100%;
    max-width: 1000px;
    margin: 4rem auto;
  }

  .details_title {
    font-size: var(--font-size-3xl);
  }

  .text1,
  .text2,
  .text3,
  .text4,
  .text5,
  .text6,
  .details_players,
  .details_taxi,
  .details_cost {
    font-size: var(--font-size-lg);
    line-height: normal;
  }

  .details_players {
    font-weight: 300;
  }
}
