.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.snowLayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 2;
}

.content {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.snowflake {
  position: absolute;

  top: -10px;
  left: var(--left);

  width: var(--size);
  height: var(--size);

  background: white;
  border-radius: 50%;
  box-shadow: 0 0 2px 1px rgba(255, 255, 255, 0.8);
  opacity: var(--opacity);
  filter: blur(0.5px);

  animation: fall var(--duration) linear infinite,
    sway 3s ease-in-out infinite alternate;
  animation-delay: var(--delay);
}

@keyframes fall {
  0% {
    top: -10%;
  }
  100% {
    top: 110%;
  }
}

@keyframes sway {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(15px);
  }
}
