.container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  right: 50%;
  transform: translateX(50%);
  top: 30px;
}

.btn {
  padding: 6px;
  font-size: 24px;
  font-weight: 100;
  cursor: pointer;
  background-color: transparent;
  border: none;
  transition: color 250ms ease;
}

.btn:hover {
  color: var(--red);
}


.btn:disabled {
  color: rgba(255, 255, 255, 0.5); /* Залишаємо колір кнопки таким, як він є */
  cursor: not-allowed; /* Зберігаємо стилізацію курсора для заблокованої кнопки */
}

.btn:disabled:hover {
  color: rgba(255, 255, 255, 0.5); 
}

/* ============================= Desctop  */
@media screen and (min-width: 768px) {
  .container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    right: 20px;
    top: 20px;
    transform: none;
  }
}