.container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  left: 50%;
  top: 30px;
}

.btn {
  padding: 6px;
  font-size: 24px;
  font-weight: 100;
  cursor: pointer;
  color: var(--foreground);
  background-color: transparent;
  border: none;
  transition: color 250ms ease;
}

.btn:disabled {
  color: rgba(255, 255, 255, 0.4); /* Залишаємо колір кнопки таким, як він є */
  cursor: not-allowed; /* Зберігаємо стилізацію курсора для заблокованої кнопки */
}

/* ============================= Desktop  */
@media screen and (min-width: 768px) {
  .container {
    position: absolute;
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: center;
    gap: 16px;
    left: 94%;
    top: 2rem;
    /* transform: translateX(-50%); */
  }

  .btn:hover {
    color: var(--red);
  }

  .btn:disabled:hover {
    color: rgba(255, 255, 255, 0.4);
  }
}
