.overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s 0.3s;
}

.btnClose {
  position: absolute;
  z-index: 110;
  top: 0;
  right: 0;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 50%;
  font-size: var(--font-size-xl);
  line-height: 1rem;
  cursor: pointer;
  padding: 0.6rem;
  transition: all 250ms ease;
}

.formWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100vw;
  max-width: 44rem;
  max-height: 90vh;
}

.form {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;

  padding: 12vh 2vh 8vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(25px);
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.05);

  overflow-y: auto;
  box-sizing: border-box;
}

.formTitle {
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  width: 80%;
  font-size: var(--font-size-xs);
  top: 8vh;
  left: 50%;
  transform: translateX(-50%);
}

.namePhone {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.input {
  padding: 12px 20px;
  background-color: transparent;
  backdrop-filter: blur(15px);
  border: 1px solid white;
}

.textarea {
  padding: 1vh 2vh;
  height: 16vh;
  color: var(--foreground);
  background-color: transparent;
  backdrop-filter: blur(15px);
  border: 1px solid white;
  margin-bottom: 2vh;
}

.input,
.textarea {
  width: 100%;
  max-width: 40rem;
  box-sizing: border-box;
}

.textarea::placeholder,
.input::placeholder {
  color: var(--red);
  font-weight: 100;
  letter-spacing: 0.3rem;
  font-size: var(--font-size-md-lg);
}

.submit {
  margin: 4rem auto;
  width: max-content;
}

.formServicesWrapper {
  padding: 1rem 0;
  border: 1px solid white;
}

.checkboxWrapper {
  /* border: 1px solid white; */
  font-weight: 100;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  justify-items: center;
  align-items: center;
  padding: 0.5rem;
}

.checkboxWrapper label {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-size: var(--font-size-xs);
  text-transform: uppercase;
  padding: 0.5rem;
  width: 100%;
  text-align: center;
  letter-spacing: 0.04rem;
  border-bottom: 1px solid var(--foreground);
  /* box-shadow: 0px 0px 5px 0px rgba(255, 0, 0, 0.75) inset;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(255, 0, 0, 0.75) inset;
  -moz-box-shadow: 0px 0px 5px 0px rgba(255, 0, 0, 0.75) inset; */
}

.checkIcon {
  display: none;
  font-size: var(--font-size-lg);
  line-height: 0.8rem;
  margin-left: 0.1rem;
}

.check {
  transform: scale(2) translateY(-10%);
  padding: 0;
  margin: 0;
  margin-left: 1rem;
}

.formServices {
  letter-spacing: 0.3rem;
  color: var(--red);
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1.4rem;
}

/* --------------------------- Desktop */

@media screen and (min-width: 768px) {
  .overlay {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);

    display: flex;
    justify-content: center;
    align-items: center;

    overflow-y: auto;
    padding: 2rem 1rem;

    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s 0.3s;
  }

  .btnClose {
    position: absolute;
    z-index: 110;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 50%;
    font-size: var(--font-size-md-lg);
    line-height: 1rem;
    cursor: pointer;
    padding: 8px;
    transition: all 250ms ease;
  }

  .btnClose:hover {
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.7);
    color: var(--red);
  }

  .formWrapper {
    max-width: 100vw;
    top: 50%;
    left: 50%;
    width: fit-content;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .form {
    width: fit-content;
    height: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: var(--box-shadow);
  }

  .formTitle {
    font-size: var(--font-size-lg);
  }

  .namePhone {
    flex-direction: row;
    justify-content: space-between;
  }

  .input {
    padding: 10px 20px;
    width: 18rem;
  }

  .textarea {
    padding: 10px 20px;
    height: 10rem;
    background-color: transparent;
    backdrop-filter: blur(15px);
    margin-bottom: 3rem;
  }

  .textarea::placeholder,
  .input::placeholder {
    color: var(--red);
    font-weight: 100;
    letter-spacing: 0.3rem;
    font-size: var(--font-size-md-lg);
  }

  .submit {
    margin: 4rem auto 0;
    width: max-content;
    position: static;
  }

  .checkboxWrapper {
    font-weight: 300;
    gap: 1rem;
    padding: 0.5rem;
  }

  .checkboxWrapper label {
    font-size: var(--font-size-md);
    width: 100%;
    align-items: center;
  }

  .checkIcon {
    font-size: var(--font-size-xl);
    line-height: 0.8rem;
  }

  .check {
    margin: 0;
    padding: 0;
    transform: scale(1.2);
  }

  .formServices {
    letter-spacing: 0.3rem;
    color: var(--red);
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1.4rem;
  }
}
