.table {
  width: 84vw;
  margin: 6rem auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.table_row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.column {
  width: 100%;
  max-width: 300px;
  flex-shrink: 0;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--box-shadow);
  padding: 0.5rem;
  transition: 0.3s ease;
  border-radius: 0.3rem;

  position: relative;
  overflow: hidden;
  z-index: 1;
}

.snowOverlay {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
}

.cardTop {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 3rem;
}

.cardBottom {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.cardTop,
.cardBottom {
  position: relative;
  z-index: 2;
}

.table_service {
  text-align: center;
  font-size: var(--font-size-lg);
  line-height: 2rem;
  font-weight: 600;
  cursor: pointer;
  text-shadow: 0px 0px 2rem rgb(0, 0, 0);
}

.thumb_text_p {
  font-size: var(--font-size-xs);
  line-height: 1rem;
  text-align: center;
  color: rgb(255, 255, 255);
}
.table_price {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0.2rem;
  font-size: var(--font-size-md);
  font-weight: 200;
  color: var(--red);
}

.notification {
  display: inline-block;
  text-align: center;
  margin: auto;
  width: 90%;
  font-size: var(--font-size-micro);
  line-height: var(--font-size-micro);
  color: #fff;
  font-weight: 200;
  opacity: 0.8;
  letter-spacing: 0.1em;
}

.age {
  margin-left: 0.5rem;
  font-size: var(--font-size-md);
  font-weight: 200;
}

.money {
  font-size: var(--font-size-lg);
  font-weight: 600;
  color: var(--red);
}

.table_que {
  cursor: pointer;
  font-size: var(--font-size-xxl);
}

.table_que svg {
  color: var(--red);
}

.more {
  font-size: var(--font-size-md);
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  border: 1px solid var(--red);
  background-color: var(--foreground);
  padding: 0.5rem 1rem;
  margin: 0.4rem;
  color: black;
}

@media screen and (min-width: 768px) {
  .table {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 0;
  }

  .table_service {
    height: 5rem;
  }

  .column {
    height: 30rem;
    width: 180px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    padding: 1.5rem 1rem;
    font-size: var(--font-size-xl);
    line-height: 2.4rem;
    letter-spacing: 0.05rem;
    transition: all 250ms cubic-bezier(0.19, 1, 0.22, 1);
  }

  .column:hover {
    border: 0.1rem solid rgba(255, 255, 255);
    transform: scale(1.1);
    box-shadow: var(--box-shadow);
  }

  .column:hover .more {
    border: 0.1rem solid var(--red);
    background-color: var(--red);
  }

  .table_price {
    gap: 0.5rem;
    font-size: var(--font-size-xl);
  }

  .age {
    margin-left: 0.5rem;
    font-size: var(--font-size-md);
  }

  .money {
    font-size: var(--font-size-xxl);
  }

  .table_que {
    color: var(--foreground);
    font-size: var(--font-size-3xl);
    padding: 0.5rem;
    transition: all 250ms cubic-bezier(0.19, 1, 0.22, 1);
  }

  .more {
    font-size: var(--font-size-md);
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    border: 1px solid var(--foreground);
    padding: 0.3rem 1rem;
  }
}
