.table {
  width: 84vw;
  margin: auto;
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.table_body {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.column {
  display: flex;
  height: 16rem;
  width: 84vw;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid rgba(255, 255, 255, 0.6); */
  box-shadow: var(--box-shadow);
  padding: 0.5rem;
}

.table_service {
  text-align: center;
  font-size: var(--font-size-xl);
  line-height: 2rem;
  font-weight: 600;
  cursor: pointer;
  /* width: 56vw; */
  text-shadow: 0px 0px 2rem rgb(0, 0, 0);
}

.thumb_text_p {
  font-size: var(--font-size-xs);
  line-height: 1rem;
  text-align: center;
  /* color: var(--red); */
  color: rgb(255, 255, 255);
  /* text-shadow: 0px 0px 3rem rgba(255, 255, 255); */
}
.table_price {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  font-size: var(--font-size-md);
  font-weight: 200;
  color: var(--red);
}

.age {
  margin-left: 0.5rem;
  font-size: var(--font-size-md);
  font-weight: 200;
}

.money {
  font-size: var(--font-size-lg);
  font-weight: 600;
  color: var(--red);
}

.table_que {
  cursor: pointer;
  font-size: var(--font-size-xxl);
}

.table_que svg {
  color: var(--red);
}

.more {
  font-size: var(--font-size-md);
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  border: 1px solid var(--red);
  background-color: var(--foreground);
  padding: 0.5rem 1rem;
  margin: 0.4rem;
  color: black;
}

@media screen and (min-width: 768px) {
  .table {
    max-width: 100%;
  }

  .table_body {
    display: flex;
    max-width: 1400px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* align-items: stretch; */
    /* justify-content: space-between; */
    /* gap: 4rem; */
  }

  .table_service {
    height: 5rem;
  }

  .column {
    height: 30rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 1rem;
    font-size: var(--font-size-xl);
    line-height: 2.4rem;
    letter-spacing: 0.05rem;
    transition: all 250ms cubic-bezier(0.19, 1, 0.22, 1);
  }

  .column:hover {
    border: 0.1rem solid rgba(255, 255, 255);
    transform: scale(1.1);
    box-shadow: var(--box-shadow);
  }

  .column:hover .more {
    border: 0.1rem solid var(--red);
    background-color: var(--red);
  }

  .table_service {
  }
  .table_price {
    gap: 0.5rem;
    font-size: var(--font-size-xl);
  }

  .age {
    margin-left: 0.5rem;
    font-size: var(--font-size-xl);
  }

  .money {
    font-size: var(--font-size-xxl);
  }

  .table_que {
    color: var(--foreground);
    font-size: var(--font-size-3xl);
    padding: 0.5rem;
    transition: all 250ms cubic-bezier(0.19, 1, 0.22, 1);
  }

  .more {
    font-size: var(--font-size-md);
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    border: 1px solid var(--foreground);
    padding: 0.3rem 1rem;
  }
}
