.list {
  width: 90vw;
  margin: auto;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid white;
}

.name {
}

.date {
}

.text {
  text-align: justify;
}

@media screen and (min-width: 768px) {
  .list {
    width: 90vw;
    margin: auto;
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
  }

  .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    height: fit-content;
    width: 40rem;
    padding: 1.5rem;
    border: 1px solid white;
    transition: all 250ms cubic-bezier(0.19, 1, 0.22, 1);
  }

  .item:hover {
    transform: scale(1.2);
    box-shadow: var(--box-shadow);
  }

  .name {
  }

  .date {
  }

  .text {
    text-align: justify;
  }
}
